################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cosc2100Demos/.vs/Cosc2100Demos/v17
/Cosc2100Demos/Week01/.vs
/Week02DemoB/.vs
/Cosc2100Demos/Week02DemoB/.vs
/Cosc2100Demos/.vs/Cosc2100Demos/FileContentIndex
/Assignments/.vs/Assignments
/Assignments/Assignment 1– Tic-Tac-Toe/.vs
/Assignments/Assignment 2 BattelmanShip/.vs
